youtube-dl
more-itertools
setproctitle
more-itertools
colorama
importlib-metadata
libtorrent
more-itertools
ordered-set
orjson
py-cord
async-timeout
aiohttp
contextlib2
asyncio
aiohttp
contextlib2
py-cord
py-cord[voice]
yt-dlp
aiohttp
asyncio
beautifulsoup4
spotipy
